FRONTEND_PORT=3000
BACKEND_PORT=8080
FRONTEND_ORIGIN=http://localhost:3000
FRONTEND_PUBLIC_URL=http://localhost:3000
BACKEND_PUBLIC_URL=http://localhost:8080
BACKEND_API_BASE_URL=http://localhost:8080
NUXT_PUBLIC_BACKEND_PUBLIC_URL=http://localhost:8080
NUXT_PUBLIC_FRONTEND_PUBLIC_URL=http://localhost:3000

AUTH_MODE=mock
MOCK_AUTH_USER_JSON={"id":"demo02-user-001","email":"demo02.user@local.test","name":"Demo02 Local User","role":"admin"}
PORTAL_COOKIE_NAMES=portal_token
PORTAL_ALLOWED_ISSUERS=
PORTAL_JWKS_URL=
PORTAL_LOGIN_URL=
PORTAL_SESSION_URLS=
PORTAL_USERINFO_URLS=
SESSION_COOKIE_NAME=demo02_ferms_session
SESSION_COOKIE_DOMAIN=
SESSION_COOKIE_SECURE=false
SESSION_TTL=12h

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=demo02_ferms
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres

POSTGRES_DB=demo02_ferms
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
